In [1]:
type(2)

int

In [2]:
type(2.0)

float

In [3]:
10 / 5

2.0

In [4]:
"I'm fine!"

"I'm fine!"

In [5]:
"""
八
百
屋
"""

'\n八\n百\n屋\n'

In [6]:
'abc' + 'xyz'

'abcxyz'

In [7]:
'abc' + 4

TypeError: must be str, not int

In [8]:
'abc' + str(4)

'abc4'

In [9]:
# 結果の表示は省略します
3 * 5  # これもコメントです

15

In [10]:
my_variable = 23

In [11]:
my_variable = 'すいか'

In [12]:
my_variable *= 3
my_variable

'すいかすいかすいか'

In [13]:
len(my_variable) == 9

True

In [14]:
x = 5
x >= 5

True

In [15]:
my_variable is not None

True

In [16]:
my_list = [10, 20, 30]

In [17]:
my_list[0]

10

In [18]:
my_list.append(40)
my_list

[10, 20, 30, 40]

In [19]:
my_list[-1]

40

In [20]:
my_list[-2]

30

In [21]:
empty_list_1 = []
empty_list_2 = list()

In [22]:
ten_zero_list = [0] * 10
ten_zero_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [23]:
my_dict = {'key1': 10, 'key2': 20, 'key3': 30}

In [24]:
my_dict['key2']

20

In [25]:
my_dict['key4'] = 40

In [26]:
my_dict['key5']

KeyError: 'key5'

In [27]:
{} == dict()

True

In [28]:
my_tuple = (10, 20, 30)

In [29]:
my_tuple[1]

20

In [30]:
{1, 2, 2, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [31]:
set('abcccd')

{'a', 'b', 'c', 'd'}

In [32]:
my_str = 'abcdef'
my_str[2]

'c'

In [33]:
my_str[2] = 'C'

TypeError: 'str' object does not support item assignment

In [34]:
print(1, 2, 3)

1 2 3

In [35]:
print(1, 2, 3, sep='/')

1/2/3

In [36]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [38]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [39]:
eval('2 + 3')

5

In [40]:
import random

In [41]:
random.seed(1)
random.random()

0.13436424411240122

In [42]:
for i in range(3):
    print(i)

0
1
2

In [43]:
for c in 'abc':
    print(c)

a
b
c

In [44]:
for i, c in enumerate('abc'):
    print(i, c)

0 a
1 b
2 c

In [45]:
num = random.random()

if num < 0.5:
    print('small')

In [46]:
if num < 0.5:
    print('small')
else:
    print('large')

large

In [47]:
if num < 0.1:
    print('small')
elif num < 0.9:
    print('middle')
else:
    print('large')

middle

In [48]:
cnt = 0
while cnt < 3:
    print(cnt)
    cnt += 1

0
1
2

In [49]:
cnt = 0
while True:
    print(cnt)
    cnt += 1
    if cnt >= 3: break

0
1
2

In [50]:
for c in 'xyz':
    if c == 'y': continue
    print(c)

x
z

In [51]:
def func():
    pass

In [52]:
func()

In [53]:
def func_div(a, b):
    return a / b

In [54]:
def func_cal(a, b, prefix='<-- ', postfix=' -->'):
    return prefix + str(a / b) + postfix

func_cal(3, 2)

'<-- 1.5 -->'

In [55]:
func_cal(postfix=']', prefix='[', b=2, a=3)

'[1.5]'

In [56]:
def func_with_docstring():
    """この関数はdocstringの練習用
    呼び出されると、Noneを返す"""
    return None

In [57]:
func_with_docstring.__doc__

'この関数はdocstringの練習用\n    呼び出されると、Noneを返す'

In [58]:
help(func_with_docstring)

Help on function func_with_docstring in module __main__:

func_with_docstring()
    この関数はdocstringの練習用
    呼び出されると、Noneを返す

In [59]:
scope_list = [1, 2, 3]

def test_func():
    scope_list.append(40)
    print(scope_list)

In [60]:
test_func()

[1, 2, 3, 40]

In [61]:
def test_func2():
    scope_list = []
    print(scope_list)

In [62]:
test_func2()

[]

In [63]:
scope_list

[1, 2, 3, 40]

In [64]:
class TestClass:
    pass

In [65]:
my_class = TestClass()

In [66]:
class Dice:
    
    def __init__(self, num):
        self.face_num = num
        
    def shot(self):
        return random.randint(1, self.face_num)

In [67]:
dice = Dice(6)
dice.shot()

1

In [68]:
data = []
data.append((101, 'Taro'))
data.append((102, 'Jiro'))
data.append((103, 'Hanako'))
data[0][1]

'Taro'

In [69]:
from collections import namedtuple

Person = namedtuple('Person', ['ID', 'name'])
p = Person(101, 'Taro')
p.name

'Taro'

In [70]:
print(p)

Person(ID=101, name='Taro')

In [71]:
try:
    # 0での除算は許されていないのでエラーになる。
    4 / 0
except:
    print('error!')

error!

In [72]:
raise ValueError('値が不正です。')

ValueError: 値が不正です。

In [73]:
a = 10
b = 5
'{} / {} = {}'.format(a, b, a/b)

'10 / 5 = 2.0'

In [74]:
f'{a} / {b} = {a/b}'

'10 / 5 = 2.0'

In [75]:
test_list = list(range(10, 20))
test_list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [76]:
test_list[2:5]

[12, 13, 14]

In [77]:
test_list[2:]

[12, 13, 14, 15, 16, 17, 18, 19]

In [78]:
test_list[:5]

[10, 11, 12, 13, 14]

In [79]:
test_list[-3:]

[17, 18, 19]

In [80]:
test_list[100:]

[]

In [81]:
test_list[::2]

[10, 12, 14, 16, 18]

In [82]:
test_list[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [83]:
# 整数のリストが文字列のリストになる。
list(map(str, [1,2,3]))

['1', '2', '3']

In [84]:
def add_frill(val):
    return '<<< {} >>>'.format(val)

In [85]:
list(map(add_frill, [1, 2, 3]))

['<<< 1 >>>', '<<< 2 >>>', '<<< 3 >>>']

In [86]:
list(map(lambda val: '<<< {} >>>'.format(val), [1, 2, 3]))

['<<< 1 >>>', '<<< 2 >>>', '<<< 3 >>>']

In [87]:
sort_list = [(2, 'y'), (3, 'x'), (1, 'z')]

In [88]:
sorted(sort_list)

[(1, 'z'), (2, 'y'), (3, 'x')]

In [89]:
sorted(sort_list, key=lambda x: x[1])

[(3, 'x'), (2, 'y'), (1, 'z')]

In [90]:
new_list = [x for x in range(10)]
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
new_list = []
for v in range(10):
    new_list.append(v)
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
even_list = [x for x in range(10) if x%2 == 0]
even_list

[0, 2, 4, 6, 8]

In [93]:
new_dict = {num: '<{}>'.format(num) for num in range(3)}
new_dict

{0: '<0>', 1: '<1>', 2: '<2>'}

In [94]:
bool([])

False

In [95]:
bool({})

False

In [96]:
bool(0)

False

In [97]:
bool(None)

False

In [98]:
pop_list = [1, 2, 3]
while pop_list:
    print(pop_list.pop())

3
2
1

In [99]:
all([True, False, True])

False

In [100]:
# 1がTrueの根拠になる
any(['', 0, None, 1])

True

In [101]:
a = b = 10
print(a, b)

10 10

In [102]:
a, b, c = 2, 3, 4

In [103]:
i, j = (2, 3)

In [104]:
print(i, j)

2 3

In [105]:
def ret_vals():
    return 'a', 2, 5.5

In [106]:
s, i, f = ret_vals()

In [107]:
print(s, i, f)

a 2 5.5

In [108]:
res = ret_vals()
res

('a', 2, 5.5)

In [109]:
print(*res)

a 2 5.5

In [110]:
x = 5
cond = '3以上' if x >= 3 else '3未満'
cond

'3以上'

In [111]:
def factorial(n):
    if n <= 0:
        return 1
    return n * factorial(n-1)

In [112]:
factorial(3)

6

# 練習問題解答

## 1.1

それぞれ、4.5と4となる。整数同士の除算でも`/`記号を使うと小数が返される。結果を整数を得たい場合は、`//`を用いる。また、どちらかが小数の場合、結果は小数となる。

In [113]:
9.//2

4.0

## 1.2

この記述は正しくない。実行してみるとわかるが、aは0〜9までが並ぶリストで、ｂは10〜1が並んだリストだ。どちらも組み込み関数rangeの引数で調節されている。多くのプログラミング言語では、このように開始点を含み、終了点を含まないという記述方法を採用している。

In [114]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 1.3

while文は条件が成り立っている間はずっと実行される。次のようなコードを書くことができる。

In [116]:
my_list = [1, 2, 3]
i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

1
2
3

my_listの内容を変更してよければ、リストから1つずつ要素を取り出して表示する次のようなコードを書くこともできる。空のリストや辞書などはFalseと評価されることは覚えておくとよいだろう。

In [117]:
my_list = [1, 2, 3]
while my_list:
    print(my_list.pop())

3
2
1

## 1.4

実行すると違いがすぐにわかる。受け取ったリストをそのまま出力するか、要素ごとに出力するかの違いだ。演算子`*`を使ったこの方法は、引数リストのアンパックと呼ばれる。sepに何か文字列を渡すと違いがよくわかる。

In [118]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [119]:
print(*my_list, sep='---')

1---2---3

In [120]:
print(my_list, sep='---')

[1, 2, 3]

## 1.5

関数の名前は、rev_printとしよう。少し冗長だが、for文を使って素直に書くと次のようになる。

In [121]:
def rev_print(val):
    res = ''
    for i in range(len(val)-1, -1, -1):
        res += val[i]
    print(res)

In [122]:
rev_print('abc')

cba

組み込み関数reversedは順番を逆にしてくれる。これを文字列のjoinメソッドで連結することができる。

In [123]:
def rev_print(val):
    print(''.join(reversed(val)))

In [124]:
rev_print('abc')

cba

文字列はリストと同じように、添え字で各要素にアクセスできるので、次のようなシンプルな書き方もできる。

In [125]:
def rev_print(val):
    print(val[::-1])

In [126]:
rev_print('abc')

cba

この題材を再帰呼び出しの練習に使おう。受け取ったリストの最後の文字を画面に表示し、その文字を除く文字列で再びrev_printを呼び出す。

In [133]:
def rev_print(val):
    if len(val) != 0:
        print(val[-1], end='')
        rev_print(val[:-1])
    return

In [134]:
rev_print('abc')

cba

最後のreturn文はなくても良いが、再帰呼び出しが終了したことを強調するために追加してある。